<h1>Add Lead</h1>
<div class="header-separator"></div>
<i class="fas fa-spinner fa-spin"></i>
<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button accordion-panel-hdg" type="button" data-bs-toggle="collapse"
                data-bs-target="#prsnlDtls-panel" aria-expanded="true" aria-controls="prsnlDtls-panel">
                Personal Details
            </button>
        </h2>
        <div id="prsnlDtls-panel" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">

                <div class="form-group row">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="name">Name:<span class="reqspan">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="lName">Last Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="lName" placeholder="Enter Last Name">
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="cntNbr">Contact Number:<span
                                class="reqspan">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="cntNbr" placeholder="Enter Contact Number">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="altNbr">Alternate Number:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="altNbr" placeholder="Enter Alternate Number">
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="email">Email:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="emaiID" placeholder="Enter Email">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="cty">City:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="cty" placeholder="Enter City">
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="area">Area:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="area" placeholder="Enter Area">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="addr">Address:</label>
                        <div class="col-sm-6">
                            <textarea name="address" id="addr" cols="44" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button accordion-panel-hdg collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Education & Experience Details
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <div class="form-group row">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="qualification">Qualification:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="qualification"
                                placeholder="Enter Qualification">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="yearOfPsg">Year of Passing:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="yearOfPsg" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-body">
                <div class="form-group row">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="College">College:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="College" placeholder="Enter College">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="addEduDtls">Additional Education Details:</label>
                        <div class="col-sm-6">
                            <textarea name="addEduDtls" id="addEduDtls" cols="44" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-body">
                <div class="form-group row">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="exp">Experience:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="exp" placeholder="Enter Experience">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="expFld">Experience Field:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="expFld" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-body">
                <div class="form-group row">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="company">Company Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="company" placeholder="Enter Company Name">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="expDtls">Additional Experience Details:</label>
                        <div class="col-sm-6">
                            <textarea name="expDtls" id="expDtls" cols="44" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed accordion-panel-hdg" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Course Details
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <div class="accordion-body">
                    <div class="form-group row">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="leadSrc">Lead Source:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="leadSrc" placeholder="Enter Source">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="leadStatus">Lead Status:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="leadStatus" placeholder="Lead Status">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="course">Course:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="course" placeholder="Enter Course">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="Fees">Fees:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="Fees" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="enqDate">Enquired Date:</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" id="enqDate" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="followUpdate">Next Follow Up:</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" id="followUpdate" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="branch">Branch:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="branch" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="trngMode">Training Mode:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="trngMode" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="leadAction">Lead Action:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="leadAction" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="trngMode">Action Status:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="trngMode" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="batch">Select Batch:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="leadAction" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="addtLeadDtls">Additional Details:</label>
                            <div class="col-sm-6">
                                <textarea name="addtLeadDtls" id="addtLeadDtls" cols="44" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>