<h1>View Batch</h1>
<div class="header-separator"></div>
<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button accordion-panel-hdg" type="button" data-bs-toggle="collapse"
                data-bs-target="#batchDtl-panel" aria-expanded="true" aria-controls="batchDtl-panel">
                Batch Detail
            </button>
        </h2>
        <div id="batchDtl-panel" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">

                <div class="form-group row">
                    <div class="col-sm-4 row">
                        <label class="col-sm-4" for="batch">Batch Name:</label>
                        <div class="col-sm-8">
                            <span>P62024201</span>
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <label class="col-sm-4" for="branch">Branch:</label>
                        <div class="col-sm-8">
                            <span>Velachery</span>
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <label class="col-sm-4" for="mode">Training Mode:</label>
                        <div class="col-sm-8">
                            <span>Online</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-3">

                    <div class="col-sm-4 row">
                        <label class="col-sm-4" for="course">Course:</label>
                        <div class="col-sm-8">
                            <span>Primavera</span>
                        </div>
                    </div>

                    <div class="col-sm-4 row">
                        <label class="col-sm-4" for="trainer">Trainer:</label>
                        <div class="col-sm-8">
                            <span>Karthik</span>
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <label class="col-sm-4" for="batchStatus">Batch Status:</label>
                        <div class="col-sm-8">
                            <span>In-progress</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-3">

                    <div class="col-sm-4 row">
                        <label class="col-sm-4" for="startDt">Start Date:</label>
                        <div class="col-sm-8">
                            <span>02-04-2024</span>
                        </div>
                    </div>

                    <div class="col-sm-4 row">
                        <label class="col-sm-4" for="endDt">End Date:</label>
                        <div class="col-sm-8">
                            <span>20-05-2024</span>
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <label class="col-sm-4" for="cty">No. of Sessions:</label>
                        <div class="col-sm-8">
                            <span>25</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button accordion-panel-hdg collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Education & Experience Details
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <div class="form-group row">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="qualification">Qualification:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="qualification"
                                placeholder="Enter Qualification">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="yearOfPsg">Year of Passing:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="yearOfPsg" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-body">
                <div class="form-group row">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="College">College:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="College" placeholder="Enter College">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="addEduDtls">Additional Education Details:</label>
                        <div class="col-sm-6">
                            <textarea name="addEduDtls" id="addEduDtls" cols="44" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-body">
                <div class="form-group row">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="exp">Experience:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="exp" placeholder="Enter Experience">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="expFld">Experience Field:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="expFld" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-body">
                <div class="form-group row">
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="company">Company Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="company" placeholder="Enter Company Name">
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <label class="control-label col-sm-3" for="expDtls">Additional Experience Details:</label>
                        <div class="col-sm-6">
                            <textarea name="expDtls" id="expDtls" cols="44" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed accordion-panel-hdg" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Course Details
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <div class="accordion-body">
                    <div class="form-group row">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="leadSrc">Lead Source:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="leadSrc" placeholder="Enter Source">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="leadStatus">Lead Status:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="leadStatus" placeholder="Lead Status">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="course">Course:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="course" placeholder="Enter Course">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="Fees">Fees:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="Fees" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="enqDate">Enquired Date:</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" id="enqDate" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="followUpdate">Next Follow Up:</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" id="followUpdate" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="branch">Branch:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="branch" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="trngMode">Training Mode:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="trngMode" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="leadAction">Lead Action:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="leadAction" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="trngMode">Action Status:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="trngMode" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="batch">Select Batch:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="leadAction" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 row">
                            <label class="control-label col-sm-3" for="addtLeadDtls">Additional Details:</label>
                            <div class="col-sm-6">
                                <textarea name="addtLeadDtls" id="addtLeadDtls" cols="44" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>